@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Purple-50:hsl(260, 100%, 95%);
    --Purple-300: hsl(264, 82%, 80%);
    --Purple-500: hsl(263, 55%, 52%);
    --White: hsl(0, 0%, 100%);
    --Grey-100: hsl(214, 17%, 92%);
    --Grey-200: hsl(0, 0%, 81%);
    --Grey-400: hsl(224, 10%, 45%);
    --Grey-500: hsl(217, 19%, 35%);
    --Dark-blue: hsl(219, 29%, 14%);
    --Black: hsl(0, 0%, 7%);
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    min-height: 100dvh;
    background-color: var(--Grey-100);
}

main{
    margin: 73px 35px 73px 35px;
    display: grid;
    grid-template-areas: 
    "Clifford"
    "Walters"
    "Harmon"
    "Abrams"
    "Whittle";
    gap: 2rem;
}

article { 
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    gap: 15px;
}

.avatar {
    border-radius:50%;
    width: 28px;
    height: 28px;
}

.Clifford {
    grid-area: Clifford;
    background-color: var(--Purple-500);
    width: 305px;
    max-width: 540px;
    height: 450px;
    padding: 34px 34px 34px 34px;
}
.Daniel {
    border: 2px solid var(--Purple-300);
}

.Walters {
    grid-area: Walters;
    background-color: var(--Grey-500);
}

.Harmon {
    grid-area: Harmon;
    background-color: var(--White);
}

.Abrams {
    grid-area: Abrams;
    background-color: var(--Dark-blue);
}

.Whittle {
    grid-area: Whittle;
    background-color: var(--White);
}




footer .attribution {
    font-size: 11px; text-align: center; 
}

footer .attribution a {
    color: hsl(228, 45%, 44%);
}